@font-face {
    font-family: 'Enigmo';
    font-style: normal;
	font-weight: normal;
	src: local(''),
		url('../fonts/hinted-EnigmoRegular.woff2') format('woff2'), 
		url('../fonts/hinted-EnigmoRegular.woff') format('woff'),
		url('../fonts/hinted-EnigmoRegular.ttf') format('ttf'),
		url('../fonts/hinted-EnigmoRegular.eot') format('eot');
   
}



